body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url(../img/fundo3.png);
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #a54082;
}

h1 {
    color: #ffffff;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.qr-section {
    margin: 20px;
    text-align: center;
}

.qrCode {
    margin: 10px;
}